/*System-things*/
html, body {
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

/*System-things-close */


body {
    background-image: url('bg.png');
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    font-family: "Jersey 10", sans-serif;
    margin: 0;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    font-size: clamp(1rem, 1.2vw, 1.5rem); /* auto-resizes */

    /*overflow: hidden;*/
}


body.dark {
    /*background-image: url('bg_dark.png');*/
    background-color: rgba(238, 238, 238, 0.8);
    color: #000000;
}


/*header*/
header {
    background: rgba(0, 23, 143, 0.6);
    padding: 20px;
    margin-bottom: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: #be133a;
}

/*header-close*/

h1 {
    font-size: 3em;
    margin: 0px;
    padding: 0px;
    letter-spacing: 5px;
}
h2 {
    font-size: 2em;
    letter-spacing: 3px;
    margin-bottom: 5px;
    padding: 0px;


}
h3 {
    font-size:1.5em;
    letter-spacing: 1px;
    margin : 0px;
    padding: 0px;

}

p{
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
}

/*footer*/

footer {
    background: rgba(0, 23, 143, 0.6);
    padding: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    transform: scaleY(-1);
    box-sizing: border-box;
}

/*footer-close*/
